<h2> Записаться на удаление лохматки</h2>
<p> Тут можно записаться на прием по удалению лохматки</p>
<form action="/visit" method="POST" role="form" > 
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>
  
  <div class="form-group">
    <label>Номер для связи</label>
    <input name="contact_phone" type="text" class="form-control" placeholder="Номер для связи">
  </div>
  <div class="form-group">
    
    <div class="form-group">
    <label>Желаемое время оболванивания</label>
    <input name="visit_time" type="text" class="form-control" placeholder="Желаемое время оболванивания">
  </div>
  <div class="form-group">

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>